
.fragment-mono-regular {
    font-family: "Fragment Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .fragment-mono-regular-italic {
    font-family: "Fragment Mono", monospace;
    font-weight: 400;
    font-style: italic;
  }
  
p{
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 500;
    font-style: normal;
    transform: scale(1, .95);
    text-align: center;
    color: #282828;
}

article img {
    max-width: 100%;
    height:auto;
}

#navi{
    margin-top: 100px;
}

nav, #feature, footer {
    color: black;
    margin: 1%; }


#nav{
    cursor:crosshair; 
    font-family: "Fragment Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

nav{
    text-align: center;
}
nav li {
    text-align: left;
    display: inline-block;
	padding: 0.5em;
    color: rgb(0, 0, 0);
}

/* MAIN WORKS */
* {
    box-sizing: border-box;
}
  
body {
    background-color: #ffffff;
    padding: 20px;
    font-family: Arial;
}

#os{
    margin:auto;
    display: block;
    margin-top: 50px;
    margin-bottom: 25px;
}

#oss{
    text-align: center;
    display: block;

}

#works{
    cursor: crosshair;
}


h3{
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 500;
    font-style: normal;
    transform: scale(1, .95);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.main {
    max-width: 1200px;
    margin: auto;
}
  
.row {
    margin: 8px -16px;
}
  
.row,
.row > .column {
    padding: 8px;
}
  

.column {
    float: left;
    width: 25%;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
  

.content {
    padding: 10px;

}
  
@media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
}
  
  
@media screen and (max-width: 600px) {
.column {
    width: 100%;
    }
}



        /* CONTACT PAGE */

        .fcf-h3{
            font-family: "neue-haas-grotesk-display", sans-serif;
            font-weight: 500;
            font-style: normal;
            transform: scale(1, .95);
            text-align: center;
        }

        #fcf-form {
            display:block;
            margin-top: 100px;
        }
        
        .fcf-body {
            margin: 0;
            font-family: "neue-haas-grotesk-display", sans-serif;
            font-weight: 500;
            font-style: normal;
            transform: scale(1, .95);
            text-align: center;
            line-height: 1.5;
            color: #212529;
            text-align: left;
            background-color: #fff;
            padding: 30px;
            padding-bottom: 10px;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            max-width: 100%;
        }
        
        .fcf-form-group {
            margin-bottom: 1rem;
            font-family: "neue-haas-grotesk-display", sans-serif;
            font-weight: 500;
            font-style: normal;
            transform: scale(1, .95);
            text-align: center;
        }
        
        .fcf-input-group {

            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -ms-flex-align: sretch;
            align-items: stretch;
            width: 50%;
            margin: auto;
        }
        
        .fcf-form-control {
            display: block;
            width: 100%;
            height: calc(1.5em + 0.75rem + 2px);
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            font-family: "neue-haas-grotesk-display", sans-serif;
            font-weight: 500;
            font-style: normal;
            transform: scale(1, .95);
            text-align: center;
            line-height: 1.5;
            color: #000000;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #000000;
            outline: none;
            border-radius: 0.25rem;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
        
        .fcf-form-control:focus {
            border: 1px solid #000000;
        }
        
        select.fcf-form-control[size], select.fcf-form-control[multiple] {
            height: auto;
        }
        
        textarea.fcf-form-control {
            font-family: "neue-haas-grotesk-display", sans-serif;
            font-weight: 500;
            font-style: normal;
            transform: scale(1, .95);
            text-align: center;
        }
        
        label.fcf-label {
            display: inline-block;
            margin-bottom: 0.5rem;
        }
        
        
        .fcf-btn {
            display: inline-block;
            font-weight: 400;
            color: #212529;
            text-align: center;
            vertical-align: middle;
            cursor: crosshair;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-color: transparent;
            border: 1px solid transparent;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: 0.25rem;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
        
        @media (prefers-reduced-motion: reduce) {
            .fcf-btn {
                transition: none;
            }
        }
        
        .fcf-btn:hover {
            color: #212529;
            text-decoration: none;
        }
        
        .fcf-btn:focus, .fcf-btn.focus {
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }
        
        .fcf-btn-primary {
            color: #fff;
            background-color: #000000;
            border-color: #000000;
        }
        
        .fcf-btn-primary:hover {
            color: #fff;
            background-color: #9c9c9c;
            border-color: #9c9c9c;
        }
        
        .fcf-btn-primary:focus, .fcf-btn-primary.focus {
            color: #fff;
            background-color: #0069d9;
            border-color: #0062cc;
            box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
        }
        
        .fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
            padding: 0.5rem 1rem;
            font-size: 1.25rem;
            line-height: 1.5;
            border-radius: 0.3rem;
        }
        
        .fcf-btn-block {
            display: block;
            width: 50%;
            margin: auto;
        }
        
        .fcf-btn-block+.fcf-btn-block {
            margin-top: 0.5rem;
        }
        
        input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
            width: 100%;
        }


        /* RESUME */


body{
   background-color: white;
   margin: auto;
   display: block;
}

#res{
    margin-top:100px ;
    text-align: center;
    
}

h1{
    font-family: "Fragment Mono", monospace;
    font-weight: 400;
    font-style: normal;
   animation: pulse .9s infinite;
   color: black;
}

#loadingH1{
    text-align: center;
}

#resume{
    font-family: "Fragment Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

#identity-results, #resume, #loading-alpha-div, #loadingH1, #loadingMessage2, #message{
   margin-top: 20px;
   font-family: "Fragment Mono", monospace;
   font-weight: 400;
   font-style: normal;
   font-size: 14px;

   animation: pulse .9s infinite;
}

i{
   font-size: 14px;
   animation: pulse .9s infinite;  
}

h3{
    font-family: "Fragment Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

h4{
    font-family: "Fragment Mono", monospace;
    font-weight: 400;
    font-style: normal;
}
.block{
   width: 50px;
   height: 50px;
   background-color: $black;
}

@keyframes pulse {
   0% {
    opacity: 1;
  }
   50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.cursor:after {
	content:"_";
	opacity: 0;
	animation: cursor 1s infinite;
}
.sign:before{
   content: "> ";
}
@keyframes cursor {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

#loading-alpha-div, .img-div{
   display: none;
}


#loadingMessage2{
   display: none;
   font-family: "Fragment Mono", monospace;
   font-weight: 400;
   font-style: normal;
}

.sub-item{
   margin-top: 20px;
   margin-left: 40px;
}

.inline{
   display: inline;
   margin-left: 10px;
}


footer{
    margin-top: 200px;
    text-align: center;
    color: black;
}